
/* Base styles (extra small devices - mobile */

body{
    background-color: #FFFFFF;
}

#header-body {
    margin: 0;
    padding: 0;
    background-image: url("images/Background.png");
    background-size: cover;

}

#header-nav {
    display: flex;
    align-items: center;
    margin: 32px;
    margin-top: 0;
}


#header-menu {
    flex: 1; /* Make the image container grow to fill the available space */
    text-align: right;
}

#header-menu img {
    max-width: 100%;
    height: auto; /* Ensure image height adjusts proportionally */
}

/* Style The Dropdown Button */
.dropbtn {
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    z-index: 1;
    right: 0;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
#header-content{
    padding: 155px 32px 210px 32px;
}

#header-button{
    width: 153px;
    height: 42px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: transparent;
    margin-top: 32px;
}

#header-subtitle{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30.33px;
    text-align: left;
    color:#FFFFFF;
}

#newest-reads-section {
    margin: 0 auto; /* This will center the section horizontally */
    padding: 0 32px; /* Adjust padding as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-image{
    object-fit: cover;
    width: 100%;
}

.card-date{
    text-align: left;
    margin-top: 35px;
}

.card-read-more-container {
    text-align: right;
    margin-bottom: 64px;
}

.card-read-more{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    color: #D9852C;
    text-decoration: none;
}

/* Mobile and Tablet */
@media screen and (min-width: 576px){

}

/* tablets and laptops */
@media screen and (min-width: 758px){

}

/* laptops and desktop */
@media screen and (min-width: 992px){

}

/* large desktop */
@media screen and (min-width: 1200px){

}